$(document).ready(function(){
    $(".report-table").fancyTable({
        sortColumn:0,
        /* Setting pagination or enabling */
        pagination: false,
        globalSearch:true,
        /* Exclude 2nd column from global search.*/
        // globalSearchExcludeColumns: [2],
        onInit:function(){
            /* On initialization of table */
        },
        onUpdate:function(){
            /* On update like search and sort of table */
        }
    });

    {% if table_hosts | length > 1 %}
    var host_select = document.getElementById("host-select");
    var host_selected = host_select.value;

    var report_selected = document.getElementById("report-table-" + host_selected);
    report_selected.style.display = "table";
    report_selected.classList.add("report-visible");

    host_select.addEventListener('change', function (e){
      // Clear visible report(s)
      var reports_visible = document.getElementsByClassName('report-visible');
      reports_visible[0].style.display = "none";
      reports_visible[0].classList.remove("report-visible");

      // Set current report to visible
      var curr_report_selected = document.getElementById("report-table-" + event.target.value);
      curr_report_selected.style.display = "table";
      curr_report_selected.classList.add("report-visible");
    });
    {% endif %}
})