.report-tables-container { margin: 20px; }
.report-tables-container #host-select-container p { font-weight: 500; margin-bottom: 0; margin-left: 4px; font-size: 14px; color: {{ table_accent_color }} }
.report-tables-container #host-select-container select { width: fit-content; border-color: {{ table_accent_color }}60; }
.report-tables-container #host-select-container select:focus { border-color: {{ table_accent_color }}; box-shadow: 0 0 0 .25rem {{ table_accent_color }}20 }
.report-tables-container .table td.facts-col { padding: .5rem .75rem }
.report-tables-container .sortArrow { margin-left: 4px }
.fancySearchRow input { padding: 5px; margin: 10px 0px; }
#title { display: flex; justify-content: space-between; align-items: end }
#title p { opacity: 0.75; margin-bottom: 0.5rem; font-size: 0.85rem }