{% if device['ansible_network_resources']['interfaces'] is defined and device['ansible_network_resources']['interfaces']|length > 0  %}
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>Interface Name</th>
            <th>Description</th>
            <th>Duplex</th>
            <th>Enabled</th>
            <th>MTU</th>
            <th>Speed</th>
        </tr>
    </thead>
    <tbody>
{% for interface in device['ansible_network_resources']['interfaces'] %}
        <tr>
            <td>{{interface['name']}}</td>
            <td>{{interface['description']|default("none")}}</td>
            <td>{{interface['duplex']|default("default")}}</td>
            <td>{{interface['enabled']|default("N/A")}}</td>
            <td>{{interface['mtu']|default("default")}}</td>
            <td>{{interface['speed']|default("default")}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% elif device['ansible_network_resources']['interfaces'] is defined and device['ansible_network_resources']['interfaces']|length == 0 %}
No interfaces configured on this device
{% else %}
No Interface information available
{% endif %}