{% if device['ansible_network_resources']['bgp_address_family']['address_family'] is defined and device['ansible_network_resources']['bgp_address_family']['address_family']|length > 0 %}

<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <th>Address Family</th>
            <th>Network</th>
            <th>Mask</th>
        </tr>
    </thead>
    <tbody>
    {% for address_family in device['ansible_network_resources']['bgp_address_family']['address_family'] %}
    {% if address_family['networks'] is defined %}
    {% for bgp_network in address_family['networks'] %}
        <tr>
            <td>{{ address_family['afi'] | default('Not Configured') }}</td>
            <td>{{ bgp_network['prefix'] | default('Not Configured') }}</td>
            <td></td>
        </tr>
    {% endfor %}
    {% elif address_family['network'] is defined %}
    {% for bgp_network in address_family['network'] %}
        <tr>
            <td>{{ address_family['afi'] | default('Not Configured') }}</td>
            <td>{{ bgp_network['address'] | default("Not Configured") }}</td>
            <td>{{ bgp_network['mask'] | default("Not Configured") }}</td>
        </tr>
    {% endfor %}
    {% else %}
    {% endif %}
    {% endfor %}
    </tbody>
</table>
{% elif device['ansible_network_resources']['bgp_address_family']['address_family'] is defined and device['ansible_network_resources']['bgp_address_family']['address_family']|length == 0 %}
no BGP address-family is not configured on this device
{% else %}
No BGP information available
{% endif %}